[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MosaiClusteR"]
	path = MosaiClusteR
	url = https://github.com/lucp12891/mosaicluster
